* {
  padding: 0;
  margin: 0;
  font-family: 'Oswald', sans-serif;
  font-family: 'Playfair Display', serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 110vh;
  overflow-x: hidden;
  background-color: #121212;
}


/* Header */
a img {
  width: 160px;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  background-color: #181818;
  -webkit-box-shadow: 7px 9px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 9px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 7px 9px 5px 0px rgba(0, 0, 0, 0.75);
}


.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  list-style: none;
  width: 85%;
}

.dashboard-titulo{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.dashboard-titulo span{
  font-size: 40px;
    opacity: 70%;
    color: white;
    text-align: justify;
}


/* Corpo */
.background-corpo{
background-color: #9c9c9c;
border: 3px solid wheat;
border-radius: 100px;
padding: 10px;
height: 600px;
width: 90%;
display: flex;
margin-top: 5%;
margin-left: 70px;
}
#corpo{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction:row ;
  margin-top: 5%;
  margin-left: 20px;

}

.texto-corpo{
  background-color: yellowgreen;
  height: 200px;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#corpo-dashboard{
  display: flex;
  justify-content: space-evenly;

}
.dashboard{
  background-color: aqua;
  height: 500px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}