@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=EB+Garamond&family=Oswald:wght@600&family=Playfair+Display&family=Raleway:ital,wght@1,100&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Bebas Neue', sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: #121212;
}



.telaLogin {
    background-color: #9a9a9a;
    border: 2px solid #181818;
    border-radius: 100px;
    padding: 15px;
}


.telaLogin:hover {
    transition: .3s ease-in-out;
    opacity: 50%;
}

.agendar_btn:hover {
    transition: .5s ease-in-out;
    background-color: #9a9a9a;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 130px;
    background-color: #181818;
    -webkit-box-shadow: 7px 9px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 7px 9px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 7px 9px 5px 0px rgba(0, 0, 0, 0.75);
}


.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    list-style: none;
    width: 95%;
}

.header li a {
    font-size: 27px;
    margin-right: 300px;
    margin-left: 70px;
    color: whitesmoke;
    text-decoration: none;
    transition: 0.3s ease;
}

.header li a:hover {
    color: #9a9a9a;
    border-bottom: 3px solid;
    transition: .1s ease-in-out;
}

.logo {
    margin-right: 90px;
}

.logo:hover {
    opacity: 50%;
    transition: .3s ease-in-out;
}

.slider {
    margin: 0 auto;
    width: 100%;
    height: 700px;
    overflow: hidden;
    border-radius: 10px;
    background-color: #121212;
    -webkit-box-shadow: -15px 12px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -15px 12px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -15px 12px 5px 0px rgba(0, 0, 0, 0.75);
}

.slides {
    width: 425%;
    display: flex;
    margin-top: 133px;
    border-radius: 90px;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
    transition: 2.5s ease-in-out;
    opacity: 60%;
}

.slide img {
    width: 1790px;
    height: 845px;
}

.manual-navigation {
    position: absolute;
    width: 800px;
    left: 28%;
    top: 85%;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 3px solid #000000;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;

}

.manual-btn:hover {
    background-color: white;
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -25%;
}

#radio3:checked~.first {
    margin-left: -50%;
}

#radio4:checked~.first {
    margin-left: -75%;
}

.navigation-auto div {
    border: 3px solid #000000;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto {
    position: absolute;
    width: 800px;
    left: 28%;
    top: 85%;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked~.navigation-auto .auto-btn1 {
    background-color: #fff;
}

#radio2:checked~.navigation-auto .auto-btn2 {
    background-color: #fff;
}

#radio3:checked~.navigation-auto .auto-btn3 {
    background-color: #fff;
}

#radio4:checked~.navigation-auto .auto-btn4 {
    background-color: #fff;
}

.logo-barbearia {
    width: 450px;
    position: relative;
    left: 72%;
    margin-top: -400px;
    opacity: 90%;
}

.container-barbearia {
    display: flex;
    align-items: center;
    margin-top: 200px;
    background-color: #121212;
    -webkit-box-shadow: -15px 12px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -15px 12px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -15px 12px 5px 0px rgba(0, 0, 0, 0.75);
}


.container-barbearia hr {
    width: 55%;
    margin-left: -50px;
}

.imagem-cesao {
    width: 600px;
    height: 800px;
    border-radius: 50px;
    opacity: 80%;
    -webkit-box-shadow: 15px 18px 31px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 15px 18px 31px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 15px 18px 31px 0px rgba(0, 0, 0, 0.75);
}

.section-barbearia-home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    right: 15%;
    margin-bottom: 5%;
}

.music-site {
    position: fixed;
    left: 1%;
    border-radius: 100px;
    background-color: #191919;
    -webkit-box-shadow: 18px 21px 14px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 18px 21px 14px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 18px 21px 14px 0px rgba(0, 0, 0, 0.75);
}

.div-texto-home {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.div-texto-home span {
    font-size: 40px;
    opacity: 80%;
    color: white;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    width: 50%;
    position: relative;
    left: 5%;
    text-align: justify;

}


/* Serviços */

.titulo-servicos {
    font-size: 100px;
    margin-top: -155px;
    color: white;
    display: flex;
    justify-content: center;
}

#servicos hr {
    width: 52%;
    margin-left: 24%;
}

#servicos {
    margin-top: 300px;
    background-color: #121212;
    -webkit-box-shadow: -15px 12px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -15px 12px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -15px 12px 5px 0px rgba(0, 0, 0, 0.75);
}



.imagem-servicos {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-servicos img {
    animation: slideServicos 30s linear infinite;
}

@keyframes slideServicos {
    0% {
        transform: translateX(-100px);

    }

    100% {
        transform: translateX(-4998px);

    }
}

.imagem-servicos img {
    width: 500px;
    border-radius: 10px;
    opacity: 60%;
    margin-top: 90px;
    -webkit-box-shadow: 18px 21px 14px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 18px 21px 14px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 18px 21px 14px 0px rgba(0, 0, 0, 0.75);
    margin: 100px;
}

.agendamento {
    font-size: 80px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 26px;
    margin-top: 100px;
}

#agendamento hr {
    width: 50%;
    margin-left: 55%;
}

.background-agendamento img {
    width: 100%;
    height: 750px;
    margin-top: 20px;
    border-radius: 5px;
    opacity: 30%;
    margin-right: 26px;
    background-color: #121212;
    -webkit-box-shadow: 1px 20px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 20px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 20px 5px 0px rgba(0, 0, 0, 0.75);
}

.divQuemSomos {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.textoQuemSomos {
    display: flex;
    font-size: 50px;
    margin-right: 30px;
margin-top: -47%;
border-radius: 10px;
padding: 10px;
opacity: 60%;
background-color: white;
border: 3px solid black;
-webkit-box-shadow: 15px 18px 31px 0px rgba(0, 0, 0, 0.75);
-moz-box-shadow: 15px 18px 31px 0px rgba(0, 0, 0, 0.75);
box-shadow: 15px 18px 31px 0px rgba(0, 0, 0, 0.75);
width: 30%;
}

/* Contatos */
.contato {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 180px;

}

.contato a {
    font-size: 30px;
    color: whitesmoke;
    text-decoration: none;
    border-radius: 50px;


}

.footer a {
    display: flex;
    justify-content: center;
    font-size: 35px;
    color: #9c9c9c;
    text-decoration: none;

}

.footer a:hover {
    color: white;
    transition: .4s ease-in-out;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 130px;
}

.social-icons a {
    margin-top: 1000px;
    text-decoration: none;
    padding: 25px;
    font-size: 45px;
    color: #8d8d8d;
    background-color: #1b1b1b;
    margin: 20px;
    border-radius: 50px;
    -webkit-box-shadow: 15px 18px 31px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 15px 18px 31px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 15px 18px 31px 0px rgba(0, 0, 0, 0.75);
}

#zap:hover {
    transition: .5s;
    transform: scale(1.1);
    color: #25D366;
    cursor: pointer;
}

#insta:hover {
    transition: .5s;
    transform: scale(1.1);
    color: #f20356;
    cursor: pointer;

}

#google:hover {
    transition: .5s;
    transform: scale(1.1);
    color: #bebb0e;
    cursor: pointer;
}

/* Cartão fidelidade */
.section-cartao-fidelidade {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-top: 15%;
    background-color: #121212;
    -webkit-box-shadow: -15px 12px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -15px 12px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -15px 12px 5px 0px rgba(0, 0, 0, 0.75);
}

.div-texto-cartao {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.div-texto-cartao img {
    position: relative;
    width: 600px;
    height: 700px;
    border-radius: 50px;
    opacity: 80%;
    left: 15%;
    margin-bottom: 70px;
    -webkit-box-shadow: 15px 18px 31px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 15px 18px 31px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 15px 18px 31px 0px rgba(0, 0, 0, 0.75);
}

.div-texto-cartao h1 {
    display: flex;
    justify-content: center;
    color: white;
    position: absolute;
    left: 60.5%;
    top: 10%;
    font-size: 75px;
    opacity: 70%;
}

.vale_textos {
    display: flex;
    flex-direction: row;
}

.div-texto-cartao span {
    font-size: 40px;
    opacity: 80%;
    width: 50%;
    left: 39%;
    bottom: 40%;
    color: white;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    position: relative;

}


.link-cartao {
    list-style: none;
}


.vale_textos a {
    display: flex;
    position: absolute;
    left: 60.5%;
    margin-top: 28%;
    font-size: 40px;
    color: #121212;
    text-decoration: none;
    border: 3px solid black;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    opacity: 70%;
    -webkit-box-shadow: 15px 18px 31px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 15px 18px 31px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 15px 18px 31px 0px rgba(0, 0, 0, 0.75);
}

.link-cartao a:hover {
    transition: .6s ease-in-out;
    opacity: 50%;
    color: white;
    background-color: #121212;
    -webkit-box-shadow: 15px 18px 31px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 15px 18px 31px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 15px 18px 31px 0px rgba(0, 0, 0, 0.75);
}