@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=EB+Garamond&family=Oswald:wght@600&family=Playfair+Display&family=Raleway:ital,wght@1,100&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Bebas Neue', sans-serif;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 105vh;
  overflow-x: hidden;
  background-color: #121212;
}

.music-site {
  position: fixed;
  left: 3%;
  top: 3%;
  border-radius: 100px;
  background-color: #191919;
  -webkit-box-shadow: 18px 21px 14px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 18px 21px 14px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 18px 21px 14px 0px rgba(0, 0, 0, 0.75);
}

a img {
  width: 127px;
}

.link {
  list-style: none;
}

.link-agendamento {
  display: flex;
  flex-direction: row;
  margin-top: -5px;
}

.link-agendamento a {
  font-size: 20px;
  color: whitesmoke;
  text-decoration: none;
  border: 3px solid #9a9a9a;
  background-color: #121212;
  border-radius: 10px;
  padding: 15px;
  opacity: 90%;
  -webkit-box-shadow: 15px 18px 31px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 15px 18px 31px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 15px 18px 31px 0px rgba(0, 0, 0, 0.75);
}

.link-agendamento a:hover {
  transition: .4s ease-in-out;
  opacity: 50%;
}

.navbar {
  display: flex;
  height: 110px;
  align-items: center;
  justify-content: center;
  background-color: #181818;
  opacity: 95%;
  -webkit-box-shadow: 7px 9px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 9px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 7px 9px 5px 0px rgba(0, 0, 0, 0.75);
}


.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  list-style: none;
  width: 60%;

}

.header li a {
  font-size: 25px;
  color: whitesmoke;
  text-decoration: none;
  transition: 0.3s ease;

}

.header li a:hover {
  color: #9a9a9a;
  border-bottom: 3px solid #9a9a9a;
  transition: .1s ease-in-out;
}

.logo:hover {
  opacity: 50%;
  transition: .3s ease-in-out;
}

/* Texto validação */

.texto-validacao {
  font-size: 37px;
  opacity: 70%;
  color: white;
  flex-direction: row;
  width: 80%;
  margin-top: 40px;
  margin-left: 50px;
}

.texto-input {
  font-size: 32px;
  opacity: 70%;
  color: white;
}

.option {
  background-color: #9a9a9a;
}

.select-barbeiros {
  width: 25%;
  height: 41px;
  border: 0;
  border-bottom: 3px solid #FFFFFF;
  background: transparent;
  font-size: 20px;
  transition: 0.4s;
  color: white;
}

.input-form {
  width: 25%;
  height: 40px;
  border: 0;
  border-bottom: 3px solid #FFFFFF;
  margin-bottom: 16px;
  margin: 15px;
  padding-top: 80px;
  background: transparent;
  font-size: 20px;
  transition: 0.4s;
  color: white;
}

.input {
  margin-left: 45px;
}


.input-form:focus {
  outline: none;
  border-bottom: 1px solid #9a9a9a;
}

.inputs {
  margin-top: -10px;
  margin-left: 125px;
}

.validar {
  width: 150px;
  height: 50%;
  padding: 9px;
  font-size: 25px;
  opacity: 70%;
  border-radius: 39px;
  -webkit-box-shadow: 7px 9px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 9px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 7px 9px 5px 0px rgba(0, 0, 0, 0.75);
  margin: 10px;
}

.validar:hover {
  transform: scale(1.10);
  transition: .3s ease-in-out;
}

.titulo {
  display: flex;
  justify-content: center;
}


.titulo span {
  font-size: 32px;
  opacity: 70%;
  color: white;
}

.titulo img {
  width: 140px;
  height: 92px;
}

.card {
  background-color: #181818;
  border: 3px solid black;
  -webkit-box-shadow: 15px 20px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 15px 20px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 15px 20px 5px 0px rgba(0, 0, 0, 0.75);
  width: 1000px;
  height: 400px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
  margin-left: 350px;
  flex-direction: column;
}

.card span {
  font-size: 50px;
  opacity: 65%;
  color: white;
  margin-top: 15px;
  margin: 10px;
}

.card-content {
  width: 80%;
  height: 63%;
  background-color: #f0f0f0;
  opacity: 80%;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 15px;
  margin: 23px;
}

.service-squares {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px;

}

.square {
  width: 144px;
  height: 55px;
  border: 3px solid black;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-right: 168px;
  margin-right: 35px;
  margin-left: 50px;
}


/* Cortesias */
#block9 img {
  margin-left: 45px;
  opacity: 50%;
}

#block3 img {
  margin-left: 45px;
  opacity: 50%;
}

#block1 img {
  margin-left: 45px;
  opacity: 50%;
}

#block2 img {
  margin-left: 45px;
  opacity: 50%;
}

#block4 img {
  margin-left: 45px;
  opacity: 50%;
}

#block5 img {
  margin-left: 45px;
  opacity: 50%;
}

#block6 img {
  margin-left: 45px;
  opacity: 50%;
}

#block7 img {
  margin-left: 45px;
  opacity: 50%;
}

#block8 img {
  margin-left: 45px;
  opacity: 50%;
}

.mensagem-resultado span {
  font-size: 40px;
  opacity: 70%;
  color: white;
}

.mensagem-resultado {
  margin-left: 60px;
  margin-top: 20px;
  text-align: center;
  background-color: #181818;
  border: 3px solid #9a9a9a;
  border-radius: 20px;
  padding: 20px;
  width: 90%;
}

.btn_resultado {
  font-size: 25px;
  color: whitesmoke;
  text-decoration: none;
  border: 3px solid #9a9a9a;
  background-color: #121212;
  border-radius: 10px;
  padding: 15px;
  opacity: 90%;
  -webkit-box-shadow: 15px 18px 31px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 15px 18px 31px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 15px 18px 31px 0px rgba(0, 0, 0, 0.75);
}

.btn_resultado:hover {
  transform: scale(1.10);
  transition: .4s ease-in-out;
  opacity: 50%;
}